<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    }
    .darken-grey-text {
        color: #2E2E2E;
    }
    </style>
</head>
<body>
    <footer style="background-color: #f8f9fa !important; padding-top: 20px;">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <footer class="page-footer blue text-center text-md-left mt-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 class="title mb-3"><b>Prepared at</b></h4>
                                    <a href="https://bisag-n.gov.in/" target="_blank">
                                        <img src="https://bisag-n.gov.in/images/logos/bisag_logo.png" alt="BISAG-N" width="100">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="title mb-3"><b>Prepared by</b></h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul>
                                                <li><p>Chandresh Gohel</p></li>
                                                <li><p>Samruddhi Thakor</p></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <ul>
                                                <li><p>Riddhi Choudhary</p></li>
                                                <li><p>Ambalia Harshit</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="title mb-3"><b>Tools used</b></h5>
                                    <ul>
                                        <li><a target="_blank" href="https://www.ibm.com/in-en/topics/convolutional-neural-networks">CNN</a></li>
                                        <li><a target="_blank" href="https://www.djangoproject.com/">Django</a></li>
                                        <li><a target="_blank" href="https://in.mathworks.com/help/matlab/index.html?s_tid=hc_panel">MatLab</a></li>
                                        <li><a target="_blank" href="https://opencv.org/">OpenCV</a></li>
                                        <li><a target="_blank" href="https://keras.io/">Keras</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>